.App {
  margin: 1% 20%;
}
.App h1 {
  text-align: center;
}
.App-logo {
  max-width: 50px;
  display: block;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
}

.App-link {
  color: #61dafb;
}
body {
  background-color: #f5f1fe;
}
